.productcardContainer {
  max-width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ProductListContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
